<div class="ps-form__group">
  [text* user-fullname id:user-fullname class:ps-form__control]
  <label for="fullname" class="ps-form__label">Full Name*</label>
</div>
<div class="ps-form__group">
  [email* user-email id:user-email class:ps-form__control]
  <label for="user-email" class="ps-form__label">Email*</label>
</div>
<div class="ps-form__group">
  [textarea* user-message id:user-message class:ps-form__control class:ps-form__textarea]
  <label for="user-messag" class="ps-form__label">Text message*</label>
</div>
<div class="ps-btn__wrap ps-btn__wrap_end">
  <button id='submit' class='wpcf7-form-control wpcf7-submit ps-btn'>Submit</button>
</div>