.ps-article
  margin-bottom: 32px
  @media #{$breakpoint-desktop-md}
    margin-bottom: 0
    &:nth-child(n+4)
      margin-top: 40px
  &__list
    margin-bottom: -32px
    @media #{$breakpoint-desktop-md}
      margin-bottom: 0
  &__thumb
    display: inline-flex
    flex-direction: column
    height: 100%
    width: 100%
    background: $color-bg-light
    transition: all .3s ease-out
    &:hover
      @media #{$breakpoint-desktop-md}
        background: $color-white
        transition: all .3s ease-out
        .ps-article__img img
          transform: scale(1.2)
          transition: transform .3s ease-out
        .ps-article__title
          color: $color-accent
          transition: color .3s ease-out
  &__img
    width: 100%
    height: 248px
    overflow: hidden
    img
      width: 100%
      height: 100%
      object-fit: cover
      transition: transform .3s ease-out
  &__inner
    padding: 24px 16px
    @media #{$breakpoint-desktop-md}
      padding: 24px 24px 32px
  &__title
    @extend .h5
    transition: color .3s ease-out
    & + *
      margin-top: 16px
  &__precopy
    overflow: hidden
    text-overflow: ellipsis
    display: -webkit-box
    line-height: 24px
    max-height: 72px
    -webkit-line-clamp: 3
    -webkit-box-orient: vertical

.ps-post
  * + .wp-block-image
    margin-top: 32px
    @media #{$breakpoint-desktop-md}
      margin-top: 48px
  .wp-block-image
    max-width: 100%
    width: 100%
    & + *
      margin-top: 32px
      @media #{$breakpoint-desktop-md}
        margin-top: 64px
    img
      width: 100%
      height: 240px
      object-fit: contain
      @media #{$breakpoint-desktop-md}
        height: 440px
    figcaption
      @include font-slwc(false, 16, 24, 500, $color-text-secondary)
      @media #{$breakpoint-desktop-md}
        @include fontsize(20, 32)
  p + p 
    margin-top: 24px
    @media #{$breakpoint-desktop-md}
      margin-top: 32px
  h2
    margin: 48px 0 24px
    @media #{$breakpoint-desktop-md}
      margin: 64px 0 40px
  h3
    margin: 40px 0 24px
    @media #{$breakpoint-desktop-md}
      margin: 64px 0 24px
  h4 
    margin: 32px 0 16px
    @media #{$breakpoint-desktop-md}
      margin: 40px 0 24px
  blockquote
    position: relative
    padding: 136px 16px 56px
    background: $color-bg
    margin-top: 48px
    @media #{$breakpoint-desktop-md}
      padding: 48px 48px 56px
      margin-top: 64px
    & + *
      margin-top: 48px
      @media #{$breakpoint-desktop-md}
        margin-top: 80px
    &::before
      position: absolute
      top: 24px
      left: 16px
      content: ' '
      width: 96px
      height: 96px
      background-image: url('../../../media/icons/quote.svg')
      @extend %_bg-center-cont
      @media #{$breakpoint-desktop-md}
        top: 0
        left: -112px
    p
      @include font-slwc(false, 20, 32, 400, $color-text)
      @media #{$breakpoint-desktop-md}
        @include fontsize(40, 54)
    cite
      @include font-slwc(false, 16, 24, 500, $color-text-secondary)
      display: block
      margin-top: 16px
      @media #{$breakpoint-desktop-md}
        @include fontsize(20, 32)
  ul
    margin: 24px 0
    @media #{$breakpoint-desktop-md}
      margin: 32px 0
    li
      position: relative
      list-style: none
      padding-left: 24px
      & + li
        margin-top: 8px
      &::before
        position: absolute
        content: ' '
        top: 7px
        left: 0
        width: 8px
        height: 8px
        background: $color-accent
        border-radius: 100%

