.ps-btn
  display: inline-block
  text-align: center
  white-space: nowrap
  vertical-align: middle
  user-select: none
  position: relative
  @include font-slwc(false, 16, 24, 900, $color-accent)
  border: none
  background: transparent
  padding: 0 36px 0 0
  cursor: pointer
  &::after
    @include pseudo()
    top: 50%
    right: 0
    transform: translate(0, -50%)
    width: 28px
    height: 8px
    background: url('../../../media/icons/arrow-right.svg')
    @extend %_bg-center-cont
    transition: transform .2s ease-out
  &:hover
    &::after
      transform: translate(8px, -50%)
      transition: transform .2s ease-out
  &_more
    &::after
      width: 24px
      height: 24px
      transform: translate(0, -50%) scale(1)
      background: url('../../../media/icons/plus-icon.svg')
    &:hover
      &::after 
        transform: translate(0, -50%) scale(1.2)
  &_back
    padding: 0 0 0 36px
    &::after
      right: unset
      left: 0
      transform: translate(0, -50%) rotate(180deg)
    &:hover
      &::after
        transform: translate(-8px, -50%) rotate(180deg)
  & + h1
    margin-top: 32px
  &__wrap
    margin-top: 32px
    &_center
      @extend %_centered-row-vh
      margin-top: 32px
      @media #{$breakpoint-desktop-sm}
        margin-top: 64px
    &_end
      @extend %_end-row