.ps-social
  &__item
    display: flex
    flex-direction: column
    justify-content: center
    padding-left: 64px
    background-position: left top
    background-size: 40px
    background-repeat: no-repeat
    height: 40px
    @include font-slwc(false, 16, 16, 400, $color-text)
    @media #{$breakpoint-tablet}
      .ps-social__list_row &
        padding-left: 0
        padding-top: 48px
        height: auto

    & + &
      margin-top: 24px
      .ps-social__list_row &
        @media #{$breakpoint-tablet}
          margin-top: 0
          margin-left: 40px
        @media #{$breakpoint-desktop-sm}
          margin-left: 56px
        @media #{$breakpoint-desktop-md}
          margin-left: 92px
  &__link
    text-decoration: none
    color: $color-accent
    &:hover
      text-decoration: underline
    @media #{$breakpoint-tablet}
      .ps-social__list_row &
        margin-top: 8px
  &__list
    &_row
      display: flex
      flex-direction: column
      margin-top: 16px
      @media #{$breakpoint-tablet}
        flex-direction: row
        margin-top: 32px


.ps-contacts
  &__title
    @extend .h5
    & + *
      margin-top: 24px
      @media #{$breakpoint-desktop-sm}
        margin-top: 32px