/**** GRID
  ******/
%_split
  display: flex
  flex-direction: row
  justify-content: space-between

%_centered-row
  display: flex
  flex-direction: row
  align-items: center

%_centered-row-vh
  display: flex
  flex-direction: row
  align-items: center
  justify-content: center

%_centered-colv
  display: flex
  flex-direction: column
  align-items: center

%_end-row
  display: flex
  flex-direction: row
  justify-content: flex-end
  

/**** TEXT
  ******/
// %_link-mode
//   text-decoration: none
//   cursor: pointer
  
// %_text-dark
//   color: $color-text

// %_text-white
//   color: $color-white
%_text-up
  text-transform: uppercase

%_bg-center
  background-position: center
  background-repeat: no-repeat
  background-size: cover

%_bg-center-cont
  background-position: center
  background-repeat: no-repeat
  background-size: contain

  