.ps-footer
  margin-top: 128px
  overflow: hidden
  &__inner
    position: relative
    display: flex
    justify-content: center
    padding: 40px 0
    @media #{$breakpoint-desktop-md}
      padding: 80px 140px 80px 0
      justify-content: flex-end
    &::before
      @include pseudo()
      top: 0
      right: -10%
      width: 120%
      padding-top: 50%
      background: $color-bg
      border-radius: 100%
      z-index: -1
      @media #{$breakpoint-desktop-md}
        right: -20%
        width: 100%
  &__text
    @include font-slwc(false, 14, 24, 400, $color-text-secondary)
