.ps-form
  &__section
    margin-top: 48px
  &__group
    position: relative
    & + &
      margin-top: 16px
  &__control
    @include font-slwc($font-avenir, 18, 24, 400, rgba($color-text, .8))
    padding: 12px 16px
    max-width: 100%
    width: 100%
    height: 48px
    background: $color-bg
    appearance: none
    border: none
    border-radius: 0
    transition: all .3s ease-out
    &:focus
      border: 1px solid $color-text
      background: $color-white
      transition: all .3s ease-out
    &.wpcf7-not-valid
      border: 1px solid $color-error
      background: $color-white
      transition: all .3s ease-out
  &__textarea
    resize: none
    height: 120px
  &__label
    position: absolute
    top: 12px
    left: 16px
    @include font-slwc($font-avenir, 18, 24, 400, rgba($color-text, .8))
    .is-focused &,
    .is-filled &
      display: none
  .wpcf7-not-valid-tip
    @include font-slwc($font-avenir, 12, 12, 400, $color-error)
    margin-top: 4px
  .wpcf7-form-control-wrap
    display: flex
    flex-direction: column
  &__wrap
    margin-top: 32px
    .screen-reader-response
      display: none
  .wpcf7-response-output
    color: $color-accent
    margin-top: 16px
  &.invalid
    .wpcf7-response-output
      color: $color-error
  &__title
    @extend .h5
    margin-top: 64px
  .wpcf7-form-control-wrap.recaptcha
    margin-top: 32px
