*
  box-sizing: border-box
  outline: none
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0)

.ps-section
  margin-top: 88px
  @media #{$breakpoint-desktop-md}
    margin-top: 128px
  &_grey
    padding: 88px 0
    background: $color-bg-light
    @media #{$breakpoint-desktop-md}
      padding: 128px 0
  &__row
    margin-top: 48px
    @media #{$breakpoint-desktop-md}
      margin-top: 64px

.ps-page
  padding-top: 120px

.ps-digit
  & + &
    margin-top: 32px
    @media #{$breakpoint-desktop-sm}
      margin-top: 0
      margin-left: 64px
  &__row
    display: flex
    flex-direction: column
    margin-top: 40px
    margin-bottom: 40px
    @media #{$breakpoint-desktop-sm}
      flex-direction: row
    @media #{$breakpoint-desktop-md}
      margin-top: 0
  &__numb
    @include font-slwc(false, 75, 80, 900, $color-text-light)
    @media #{$breakpoint-desktop-sm}
      @include fontsize(75, 80)
  &__desc
    @extend .h5

.ps-hierarchy
  &_marked
    margin-top: 40px
    @media #{$breakpoint-desktop-md}
      margin-top: 0
    .ps-hierarchy__item:last-child
      .ps-hierarchy__marker
        &::after
          content: none
  &__item
    position: relative
    .ps-hierarchy_marked &
      padding-left: 60px
      padding-bottom: 40px
      @media #{$breakpoint-desktop-md}
        padding-bottom: 72px
  &__marker
    position: absolute
    top: 0
    left: 0
    bottom: 0
    &::before
      @include pseudo()
      top: 16px
      left: 0
      transform: translateY(-50%)
      width: 24px
      height: 24px
      border-radius: 100%
      background: $color-accent
      z-index: 2
    &::after
      @include pseudo()
      top: 28px
      left: 12px
      width: 1px
      height: 100%
      background: $color-text-light
  &__list
    .ps-item_rowdir &
      flex: 1 1 100%
      max-width: 100%
      margin-top: 16px
      @media #{$breakpoint-desktop-sm}
        flex: 1 1 75% 
        padding-left: 64px
        max-width: 75%
        margin-top: 0
    &--item
      & + &
        margin-top: 8px

      
      
    

      