html
  box-sizing: border-box

*,::after,::before
  box-sizing: border-box

.ps-row
  display: flex
  flex-wrap: wrap
  flex-grow: 1

.d-flex
  display: flex !important
.flex-column
  flex-direction: column
.ai-center
  align-items: center !important
.jc-sb
  justify-content: space-between
.jc-center
  justify-content: center
.ai-stretch
  align-items: stretch
.full-col
  display: flex
  flex-direction: column
  flex: 1

  
.ps-container
  width: 100%
  max-width: $container-mobile
  padding: 0 16px
  @media #{$breakpoint-tablet}
    padding: 0
    max-width: $container-tablet
    margin: 0 auto
  @media #{$breakpoint-desktop-lg}
    max-width: $container-lg

.ps-col
  padding-left: 8px
  padding-right: 8px

.ps-gutters
  margin-right: -8px
  margin-left: -8px

.ps-gutters>.ps-col, 
.ps-gutters>[class*=ps-col-],
.ps-gutters>.nt-col
  padding-left: 8px
  padding-right: 8px

.ps-col,.ps-col-1,.ps-col-10,.ps-col-11,.ps-col-12,.ps-col-2,.ps-col-3,.ps-col-4,.ps-col-5,.ps-col-6,.ps-col-7,.ps-col-8,.ps-col-9,.ps-col-auto,.ps-col-lg,.ps-col-lg-1,.ps-col-lg-10,.ps-col-lg-11,.ps-col-lg-12,.ps-col-lg-2,.ps-col-lg-3,.ps-col-lg-4,.ps-col-lg-5,.ps-col-lg-6,.ps-col-lg-7,.ps-col-lg-8,.ps-col-lg-9,.ps-col-lg-auto,.ps-col-md,.ps-col-md-1,.ps-col-md-10,.ps-col-md-11,.ps-col-md-12,.ps-col-md-2,.ps-col-md-3,.ps-col-md-4,.ps-col-md-5,.ps-col-md-6,.ps-col-md-7,.ps-col-md-8,.ps-col-md-9,.ps-col-md-auto,.ps-col-sm,.ps-col-sm-1,.ps-col-sm-10,.ps-col-sm-11,.ps-col-sm-12,.ps-col-sm-2,.ps-col-sm-3,.ps-col-sm-4,.ps-col-sm-5,.ps-col-sm-6,.ps-col-sm-7,.ps-col-sm-8,.ps-col-sm-9,.ps-col-sm-auto,.ps-col-xl,.ps-col-xl-1,.ps-col-xl-10,.ps-col-xl-11,.ps-col-xl-12,.ps-col-xl-2,.ps-col-xl-3,.ps-col-xl-4,.ps-col-xl-5,.ps-col-xl-6,.ps-col-xl-7,.ps-col-xl-8,.ps-col-xl-9,.ps-col-xl-auto
  position: relative
  width: 100%

.ps-col-10
  @include col(10)
.ps-col-12
  @include col(12)
.offset-1
  @include col-offset(1)

@media #{$breakpoint-tablet}
  .ps-col-md-3
    @include col(3)
  .ps-col-md-4
    @include col(4)
  .ps-col-md-5
    @include col(5)
  .ps-col-md-6
    @include col(6)
  .ps-col-md-7
    @include col(7)
  .ps-col-md-8
    @include col(8)
  .ps-col-md-10
    @include col(10)
  .ps-offset-md-1
    @include col-offset(1)
  .ps-offset-md-2
    @include col-offset(2)
@media #{$breakpoint-desktop-md}
  .ps-col-lg-3
    @include col(3)
  .ps-col-lg-4
    @include col(4)
  .ps-col-lg-5
    @include col(5)
  .ps-col-lg-6
    @include col(6)
  .ps-col-lg-7
    @include col(7)
  .ps-col-lg-8
    @include col(8)
  .ps-col-lg-10
    @include col(10)
  .ps-offset-lg-1
    @include col-offset(1)
  .ps-offset-lg-2
    @include col-offset(2)
  
@media #{$breakpoint-desktop-lg}
  .ps-col-xlg-4
    @include col(4)
  .ps-col-xlg-5
    @include col(5)
  .ps-col-xlg-6
    @include col(6)
  .ps-col-xlg-8
    @include col(8)
  .ps-col-xlg-10
    @include col(10)
  .offset-xlg-1
    @include col-offset(1)
  .offset-xlg-2
    @include col-offset(2)


.order-till-lg-1
  @media #{$breakpoint-desktop-lg-max}
    order: 1
.order-till-lg-2
  @media #{$breakpoint-desktop-lg-max}
    order: 2
