.ps-header
  position: fixed
  top: 0
  left: 0
  width: 100%
  padding: 16px
  display: flex
  justify-content: center
  background: transparent
  z-index: 9
  max-height: 0
  transition: background .15s ease-out
  &.is-open
    min-height: 100vh
    max-height: 100vh
    overflow: auto
    background: $color-white
    transition: background .15s ease-out
  @media #{$breakpoint-desktop-md}
    background: $color-white
    max-height: unset

.ps-burger
  position: absolute
  top: 16px
  right: 16px
  height: 48px
  width: 48px
  background: $color-white
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.14)
  border-radius: 100%
  @media #{$breakpoint-desktop-md}
    display: none
  &__line
    position: absolute
    right: 15px
    width: 12px
    height: 2px
    background: $color-text
    transition: all .15s ease-out
    .is-open &
      transform-origin: center
      transition: all .15s ease-out
    &:nth-child(1)
      top: 18px
      .is-open &
        top: 22px
        width: 18px
        transform: rotate(-45deg)
    &:nth-child(2)
      top: 23px
      width: 18px
      .is-open &
        width: 0
    &:nth-child(3)
      top: 28px
      .is-open &
        top: 22px
        width: 18px
        transform: rotate(45deg)