.ps-hero
  position: relative
  display: flex
  flex-direction: column
  align-items: center
  background-repeat: no-repeat
  background-size: auto 56%
  background-position: center 10%
  overflow: hidden
  @media #{$breakpoint-tablet}
    background-size: auto 72%
    background-position: center 10%
  @media #{$breakpoint-desktop-sm}
    background-size: auto 68%
    background-position: center 22%
  @media #{$breakpoint-desktop-md}
    justify-content: flex-end
    background-position: center bottom
    background-size: auto 90%
    min-height: 100vh
  &::before
    @include pseudo()
    left: 50%
    transform: translateX(-50%)
    bottom: -10%
    background: $color-bg
    border-radius: 100% 100% 0 0
    z-index: -1
    @include circle-hero-queries()
  &__content
    @media #{$breakpoint-desktop-md-max}
      margin-top: 40vh
  &__copy
    @media #{$breakpoint-desktop-md-max}
      margin-top: 56px
  &__btn
    display: none
    @media #{$breakpoint-desktop-md}
      display: inline-flex


.ps-scroll
  @include font-slwc(false, 16, 24, 500, $color-text-secondary)
  padding-right: 32px
  margin-bottom: 88px
  &::after
    @include pseudo()
    top: 50%
    right: 0
    transform: translateY(-40%)
    width: 8px
    height: 16px
    background: url('../../../media/icons/arrow-down.svg')
    @extend %_bg-center-cont
  &:hover
    &::after
      transform: translateY(-20%)
  &__wrap
    display: none
    @media #{$breakpoint-desktop-md}
      display: block
      margin-top: 80px