@use 'sass:math'

@mixin pseudo($display: block, $pos: absolute, $content: '')
  content: $content
  display: $display
  position: $pos

@mixin truncate($truncation-boundary)
  max-width: $truncation-boundary
  white-space: nowrap
  overflow: hidden
  text-overflow: ellipsis

@mixin col($col)
  flex: 0 0 math.percentage(math.div($col, 12))
  max-width: math.percentage(math.div($col, 12))
  width: 100%

@mixin col-offset($col)
  margin-left: math.percentage(math.div($col, 12))

@mixin col-minus-offset($col)
  margin-left: - (math.percentage(math.div($col, 12)))


@mixin font-face($font-family, $file-path, $weight: normal, $style: normal)
  @font-face 
    font-family: $font-family
    font-weight: $weight
    font-style: $style 
    font-display: swap
    unicode-range: U+000-5FF
    src: local('#{$font-family}'), url('#{$file-path}.woff2') format('woff2'), url('#{$file-path}.woff') format('woff'), url('#{$file-path}.ttf') format('truetype'), url('#{$file-path}.eot')


@mixin fontsize($size, $line-height: 0)
  font-size: $size * 1px
  line-height: $line-height * 1px

@mixin font-slwc($font: $font-avenir, $size: false, $lh: false, $weight: false, $color: false)
  @if $font
    font-family: $font
  @if $size
    @include fontsize($size, $lh)
  @if $color
    color: $color
  @if $weight
    font-weight: $weight
  font-style: normal

@mixin whSize($width, $height)
  width: $width * 1px
  width: $width * 0.1rem
  height: $height * 1px
  height: $height * 0.1rem


@mixin circle-hero-queries()
  @media #{$breakpoint-desktop-lg}
    @include circle-hero($container-lg)


@mixin circle-hero($size: 100%)
  height: calc((#{$size} + 5%) / 2)
  width: calc(#{$size} + 5%)
  border-top-left-radius: calc((#{$size} + 5%) * 2)
  border-top-right-radius: calc((#{$size} + 5%) * 2)