.ps-nav
  width: 100%
  padding-top: 64px
  opacity: 0
  visibility: hidden
  transition: all .15s ease-out
  @media #{$breakpoint-desktop-md}
    flex-direction: row
    padding-top: 0
    opacity: 1
    visibility: visible
    width: auto
  .is-open &
    opacity: 1
    visibility: visible
    transition: all .15s ease-out
  @media #{$breakpoint-desktop-md}
    display: flex
  &__menu
    display: flex
    flex-direction: column
    @media #{$breakpoint-desktop-md}
      flex-direction: row
    li + li
      margin-top: 24px
      @media #{$breakpoint-desktop-md}
        margin-top: 0
        margin-left: 48px
    a
      @include font-slwc(false, 16, 24, 500, $color-text)
      display: block
      &:hover
        color: $color-accent
    .current-menu-item,
    .current_page_item
      a
        color: $color-accent