.swiper
  margin-left: auto
  margin-right: auto
  position: relative
  overflow: hidden
  list-style: none
  padding: 0
  /* Fix of Webkit flickering */
  z-index: 1

.swiper-wrapper
  position: relative
  width: 100%
  height: 100%
  z-index: 1
  display: flex
  transition-property: transform
  box-sizing: content-box

.swiper-android .swiper-slide,
.swiper-wrapper
  transform: translate3d(0px, 0, 0)

.swiper-pointer-events
  touch-action: pan-y

.swiper-slide
  flex-shrink: 0
  width: 100%
  height: 100%
  position: relative
  transition-property: transform

.swiper-button-prev,
.swiper-button-next
  position: relative
  display: inline-flex
  width: 40px
  height: 40px
  margin-top: 40px
  z-index: 10
  cursor: pointer
  @media #{$breakpoint-desktop-md}
    margin-top: 72px
  &::after
    @include pseudo()
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)
    width: 16px
    height: 14px
    @extend %_bg-center-cont
  &::before
    @include pseudo()
    width: 40px
    height: 40px
    background: rgba($color-accent, .05)
    border-radius: 6px
    transition: transform .2s ease-out
  &:hover
    &::before
      transform: scale(.8)
      transition: transform .2s ease-out
  &.swiper-button-disabled
    cursor: auto
    pointer-events: none
    &::after
      opacity: .35

.swiper-button-prev
  margin-right: 16px
  &::after
    background-image: url('../../../media/icons/swiper-arrow.svg')
.swiper-button-next
  margin-left: 16px
  &::after
    transform: translate(-50%, -50%) rotate(-180deg)
    background-image: url('../../../media/icons/swiper-arrow.svg')


/* Scrollbar */
.swiper-scrollbar
  position: relative
  top: -18px
  display: inline-flex
  height: 4px
  width: 80px
  border-radius: 60px
  -ms-touch-action: none
  background: rgba($color-accent, .05)

.swiper-scrollbar-drag
  height: 100%
  width: 100%
  position: relative
  background: $color-accent
  border-radius: 10px
  left: 0
  top: 0

.swiper-free-mode > .swiper-wrapper
  transition-timing-function: ease-out
  margin: 0 auto

.swiper-grid > .swiper-wrapper
  flex-wrap: wrap

.ps-slider
  &__item
    @include col(12)
    @media #{$breakpoint-desktop-sm}
      @include col(4)
