.ps-item
  display: inline-flex
  width: 100%
  .ps-item__row &
    flex-direction: column
    margin-bottom: 32px
    @media #{$breakpoint-desktop-md}
      margin-bottom: 0
  &_rowdir
    flex-direction: column
    @media #{$breakpoint-desktop-sm}
      flex-direction: row
    & + &
      margin-top: 64px
  &__row
    margin-bottom: -32px
    @media #{$breakpoint-desktop-md}
      margin-bottom: 0
    .ps-hierarchy__list--item
      @extend .ps-text_md
  &__img
    .ps-item_rowdir &
      flex: 1 1 50%
      max-width: 50%
      @media #{$breakpoint-desktop-sm}
        flex: 1 1 25%
        max-width: 25%
    .ps-item__row &
      position: relative
      height: 0
      width: 60%
      margin-bottom: 16px
      padding-top: 90%
      margin-bottom: 16px
    img
      width: 100%
      height: 100%
      object-fit: contain
      .ps-item__row &
        position: absolute
        top: 0
        left: 0
        object-fit: contain