@include font-face(Avenir, '../../fonts/Avenir-Black', 900, $style: normal)
@include font-face(Avenir, '../../fonts/Avenir-Medium', 500, $style: normal)
@include font-face(Avenir, '../../fonts/Avenir-Roman', 400, $style: normal)
  

body,
p,
.ps-text
  @include font-slwc($font-avenir, 14, 24, 400, $color-text)

h1,
.h1
  @include font-slwc(false, 48, 56, 900, $color-text)
  @media #{$breakpoint-desktop-md}
    @include fontsize(88, 96)
  & + * 
    margin-top: 32px

h2,
.h2
  @include font-slwc(false, 40, 48, 900, $color-text)
  @media #{$breakpoint-desktop-md}
    @include fontsize(75, 80)
  & + *
    margin-top: 16px
  .ps-section &
    & + *
      margin-top: 40px
      @media #{$breakpoint-desktop-md}
        margin-top: 64px

h3,
.h3
  @include font-slwc(false, 48, 56, 900, $color-text)

h4,
.h4
  @include font-slwc(false, 22, 24, 900, $color-text)
  @media #{$breakpoint-desktop-md}
    @include fontsize(30, 40)

h5,
.h5 
  @include font-slwc(false, 20, 32, 900, $color-text)
  @media #{$breakpoint-desktop-md}
    @include fontsize(22, 32)
  & + p
    margin-top: 16px


.ps-text
  &_md
    @include font-slwc(false, 16, 24, 400, $color-text)

a 
  text-decoration: none
	
b,
strong,
.is-fw-bold
  font-weight: 900 !important

.is-fw-medium
  font-weight: 500 !important

.is-t-uppercase
  text-transform: uppercase

.is-color-t-secondary
  color: $color-text-secondary !important

  
