html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

/**** FONTS
 * ******/
/**** COLORS
 * ******/
/**** CONTAINER
 * ******/
/**** MEDIA
 * ******/
/**** GRID
 * ******/
.ps-btn__wrap_center {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.ps-btn__wrap_end {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

/**** TEXT
 * ******/
.ps-post blockquote::before, .swiper-button-prev::after,
.swiper-button-next::after, .ps-scroll::after, .ps-btn::after {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

@font-face {
  font-family: Avenir;
  font-weight: 900;
  font-style: normal;
  font-display: swap;
  unicode-range: U+000-5FF;
  src: local("Avenir"), url("../../fonts/Avenir-Black.woff2") format("woff2"), url("../../fonts/Avenir-Black.woff") format("woff"), url("../../fonts/Avenir-Black.ttf") format("truetype"), url("../../fonts/Avenir-Black.eot");
}
@font-face {
  font-family: Avenir;
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  unicode-range: U+000-5FF;
  src: local("Avenir"), url("../../fonts/Avenir-Medium.woff2") format("woff2"), url("../../fonts/Avenir-Medium.woff") format("woff"), url("../../fonts/Avenir-Medium.ttf") format("truetype"), url("../../fonts/Avenir-Medium.eot");
}
@font-face {
  font-family: Avenir;
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  unicode-range: U+000-5FF;
  src: local("Avenir"), url("../../fonts/Avenir-Roman.woff2") format("woff2"), url("../../fonts/Avenir-Roman.woff") format("woff"), url("../../fonts/Avenir-Roman.ttf") format("truetype"), url("../../fonts/Avenir-Roman.eot");
}
body,
p,
.ps-text {
  font-family: "Avenir";
  font-size: 14px;
  line-height: 24px;
  color: #272424;
  font-weight: 400;
  font-style: normal;
}

h1,
.h1 {
  font-size: 48px;
  line-height: 56px;
  color: #272424;
  font-weight: 900;
  font-style: normal;
}
@media (min-width: 1200px) {
  h1,
.h1 {
    font-size: 88px;
    line-height: 96px;
  }
}
h1 + *,
.h1 + * {
  margin-top: 32px;
}

h2,
.h2 {
  font-size: 40px;
  line-height: 48px;
  color: #272424;
  font-weight: 900;
  font-style: normal;
}
@media (min-width: 1200px) {
  h2,
.h2 {
    font-size: 75px;
    line-height: 80px;
  }
}
h2 + *,
.h2 + * {
  margin-top: 16px;
}
.ps-section h2 + *,
.ps-section .h2 + * {
  margin-top: 40px;
}
@media (min-width: 1200px) {
  .ps-section h2 + *,
.ps-section .h2 + * {
    margin-top: 64px;
  }
}

h3,
.h3 {
  font-size: 48px;
  line-height: 56px;
  color: #272424;
  font-weight: 900;
  font-style: normal;
}

h4,
.h4 {
  font-size: 22px;
  line-height: 24px;
  color: #272424;
  font-weight: 900;
  font-style: normal;
}
@media (min-width: 1200px) {
  h4,
.h4 {
    font-size: 30px;
    line-height: 40px;
  }
}

h5,
.h5,
.ps-article__title,
.ps-contacts__title,
.ps-form__title,
.ps-digit__desc {
  font-size: 20px;
  line-height: 32px;
  color: #272424;
  font-weight: 900;
  font-style: normal;
}
@media (min-width: 1200px) {
  h5,
.h5,
.ps-article__title,
.ps-contacts__title,
.ps-form__title,
.ps-digit__desc {
    font-size: 22px;
    line-height: 32px;
  }
}
h5 + p,
.h5 + p,
.ps-article__title + p,
.ps-contacts__title + p,
.ps-form__title + p,
.ps-digit__desc + p {
  margin-top: 16px;
}

.ps-text_md, .ps-item__row .ps-hierarchy__list--item {
  font-size: 16px;
  line-height: 24px;
  color: #272424;
  font-weight: 400;
  font-style: normal;
}

a {
  text-decoration: none;
}

b,
strong,
.is-fw-bold {
  font-weight: 900 !important;
}

.is-fw-medium {
  font-weight: 500 !important;
}

.is-t-uppercase {
  text-transform: uppercase;
}

.is-color-t-secondary {
  color: rgba(39, 36, 36, 0.6) !important;
}

* {
  box-sizing: border-box;
  outline: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.ps-section {
  margin-top: 88px;
}
@media (min-width: 1200px) {
  .ps-section {
    margin-top: 128px;
  }
}
.ps-section_grey {
  padding: 88px 0;
  background: rgba(244, 244, 244, 0.5);
}
@media (min-width: 1200px) {
  .ps-section_grey {
    padding: 128px 0;
  }
}
.ps-section__row {
  margin-top: 48px;
}
@media (min-width: 1200px) {
  .ps-section__row {
    margin-top: 64px;
  }
}

.ps-page {
  padding-top: 120px;
}

.ps-digit + .ps-digit {
  margin-top: 32px;
}
@media (min-width: 1024px) {
  .ps-digit + .ps-digit {
    margin-top: 0;
    margin-left: 64px;
  }
}
.ps-digit__row {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
  margin-bottom: 40px;
}
@media (min-width: 1024px) {
  .ps-digit__row {
    flex-direction: row;
  }
}
@media (min-width: 1200px) {
  .ps-digit__row {
    margin-top: 0;
  }
}
.ps-digit__numb {
  font-size: 75px;
  line-height: 80px;
  color: rgba(39, 36, 36, 0.14);
  font-weight: 900;
  font-style: normal;
}
@media (min-width: 1024px) {
  .ps-digit__numb {
    font-size: 75px;
    line-height: 80px;
  }
}
.ps-hierarchy_marked {
  margin-top: 40px;
}
@media (min-width: 1200px) {
  .ps-hierarchy_marked {
    margin-top: 0;
  }
}
.ps-hierarchy_marked .ps-hierarchy__item:last-child .ps-hierarchy__marker::after {
  content: none;
}
.ps-hierarchy__item {
  position: relative;
}
.ps-hierarchy_marked .ps-hierarchy__item {
  padding-left: 60px;
  padding-bottom: 40px;
}
@media (min-width: 1200px) {
  .ps-hierarchy_marked .ps-hierarchy__item {
    padding-bottom: 72px;
  }
}
.ps-hierarchy__marker {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
}
.ps-hierarchy__marker::before {
  content: "";
  display: block;
  position: absolute;
  top: 16px;
  left: 0;
  transform: translateY(-50%);
  width: 24px;
  height: 24px;
  border-radius: 100%;
  background: #008AB6;
  z-index: 2;
}
.ps-hierarchy__marker::after {
  content: "";
  display: block;
  position: absolute;
  top: 28px;
  left: 12px;
  width: 1px;
  height: 100%;
  background: rgba(39, 36, 36, 0.14);
}
.ps-item_rowdir .ps-hierarchy__list {
  flex: 1 1 100%;
  max-width: 100%;
  margin-top: 16px;
}
@media (min-width: 1024px) {
  .ps-item_rowdir .ps-hierarchy__list {
    flex: 1 1 75%;
    padding-left: 64px;
    max-width: 75%;
    margin-top: 0;
  }
}
.ps-hierarchy__list--item + .ps-hierarchy__list--item {
  margin-top: 8px;
}

html {
  box-sizing: border-box;
}

*, ::after, ::before {
  box-sizing: border-box;
}

.ps-row {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
}

.d-flex {
  display: flex !important;
}

.flex-column {
  flex-direction: column;
}

.ai-center {
  align-items: center !important;
}

.jc-sb {
  justify-content: space-between;
}

.jc-center {
  justify-content: center;
}

.ai-stretch {
  align-items: stretch;
}

.full-col {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.ps-container {
  width: 100%;
  max-width: 100%;
  padding: 0 16px;
}
@media (min-width: 768px) {
  .ps-container {
    padding: 0;
    max-width: calc(100vw - 64px);
    margin: 0 auto;
  }
}
@media (min-width: 1440px) {
  .ps-container {
    max-width: 1328px;
  }
}

.ps-col {
  padding-left: 8px;
  padding-right: 8px;
}

.ps-gutters {
  margin-right: -8px;
  margin-left: -8px;
}

.ps-gutters > .ps-col,
.ps-gutters > [class*=ps-col-],
.ps-gutters > .nt-col {
  padding-left: 8px;
  padding-right: 8px;
}

.ps-col, .ps-col-1, .ps-col-10, .ps-col-11, .ps-col-12, .ps-col-2, .ps-col-3, .ps-col-4, .ps-col-5, .ps-col-6, .ps-col-7, .ps-col-8, .ps-col-9, .ps-col-auto, .ps-col-lg, .ps-col-lg-1, .ps-col-lg-10, .ps-col-lg-11, .ps-col-lg-12, .ps-col-lg-2, .ps-col-lg-3, .ps-col-lg-4, .ps-col-lg-5, .ps-col-lg-6, .ps-col-lg-7, .ps-col-lg-8, .ps-col-lg-9, .ps-col-lg-auto, .ps-col-md, .ps-col-md-1, .ps-col-md-10, .ps-col-md-11, .ps-col-md-12, .ps-col-md-2, .ps-col-md-3, .ps-col-md-4, .ps-col-md-5, .ps-col-md-6, .ps-col-md-7, .ps-col-md-8, .ps-col-md-9, .ps-col-md-auto, .ps-col-sm, .ps-col-sm-1, .ps-col-sm-10, .ps-col-sm-11, .ps-col-sm-12, .ps-col-sm-2, .ps-col-sm-3, .ps-col-sm-4, .ps-col-sm-5, .ps-col-sm-6, .ps-col-sm-7, .ps-col-sm-8, .ps-col-sm-9, .ps-col-sm-auto, .ps-col-xl, .ps-col-xl-1, .ps-col-xl-10, .ps-col-xl-11, .ps-col-xl-12, .ps-col-xl-2, .ps-col-xl-3, .ps-col-xl-4, .ps-col-xl-5, .ps-col-xl-6, .ps-col-xl-7, .ps-col-xl-8, .ps-col-xl-9, .ps-col-xl-auto {
  position: relative;
  width: 100%;
}

.ps-col-10 {
  flex: 0 0 83.3333333333%;
  max-width: 83.3333333333%;
  width: 100%;
}

.ps-col-12 {
  flex: 0 0 100%;
  max-width: 100%;
  width: 100%;
}

.offset-1 {
  margin-left: 8.3333333333%;
}

@media (min-width: 768px) {
  .ps-col-md-3 {
    flex: 0 0 25%;
    max-width: 25%;
    width: 100%;
  }

  .ps-col-md-4 {
    flex: 0 0 33.3333333333%;
    max-width: 33.3333333333%;
    width: 100%;
  }

  .ps-col-md-5 {
    flex: 0 0 41.6666666667%;
    max-width: 41.6666666667%;
    width: 100%;
  }

  .ps-col-md-6 {
    flex: 0 0 50%;
    max-width: 50%;
    width: 100%;
  }

  .ps-col-md-7 {
    flex: 0 0 58.3333333333%;
    max-width: 58.3333333333%;
    width: 100%;
  }

  .ps-col-md-8 {
    flex: 0 0 66.6666666667%;
    max-width: 66.6666666667%;
    width: 100%;
  }

  .ps-col-md-10 {
    flex: 0 0 83.3333333333%;
    max-width: 83.3333333333%;
    width: 100%;
  }

  .ps-offset-md-1 {
    margin-left: 8.3333333333%;
  }

  .ps-offset-md-2 {
    margin-left: 16.6666666667%;
  }
}
@media (min-width: 1200px) {
  .ps-col-lg-3 {
    flex: 0 0 25%;
    max-width: 25%;
    width: 100%;
  }

  .ps-col-lg-4 {
    flex: 0 0 33.3333333333%;
    max-width: 33.3333333333%;
    width: 100%;
  }

  .ps-col-lg-5 {
    flex: 0 0 41.6666666667%;
    max-width: 41.6666666667%;
    width: 100%;
  }

  .ps-col-lg-6 {
    flex: 0 0 50%;
    max-width: 50%;
    width: 100%;
  }

  .ps-col-lg-7 {
    flex: 0 0 58.3333333333%;
    max-width: 58.3333333333%;
    width: 100%;
  }

  .ps-col-lg-8 {
    flex: 0 0 66.6666666667%;
    max-width: 66.6666666667%;
    width: 100%;
  }

  .ps-col-lg-10 {
    flex: 0 0 83.3333333333%;
    max-width: 83.3333333333%;
    width: 100%;
  }

  .ps-offset-lg-1 {
    margin-left: 8.3333333333%;
  }

  .ps-offset-lg-2 {
    margin-left: 16.6666666667%;
  }
}
@media (min-width: 1440px) {
  .ps-col-xlg-4 {
    flex: 0 0 33.3333333333%;
    max-width: 33.3333333333%;
    width: 100%;
  }

  .ps-col-xlg-5 {
    flex: 0 0 41.6666666667%;
    max-width: 41.6666666667%;
    width: 100%;
  }

  .ps-col-xlg-6 {
    flex: 0 0 50%;
    max-width: 50%;
    width: 100%;
  }

  .ps-col-xlg-8 {
    flex: 0 0 66.6666666667%;
    max-width: 66.6666666667%;
    width: 100%;
  }

  .ps-col-xlg-10 {
    flex: 0 0 83.3333333333%;
    max-width: 83.3333333333%;
    width: 100%;
  }

  .offset-xlg-1 {
    margin-left: 8.3333333333%;
  }

  .offset-xlg-2 {
    margin-left: 16.6666666667%;
  }
}
@media (max-width: 1439px) {
  .order-till-lg-1 {
    order: 1;
  }
}

@media (max-width: 1439px) {
  .order-till-lg-2 {
    order: 2;
  }
}

.ps-form__section {
  margin-top: 48px;
}
.ps-form__group {
  position: relative;
}
.ps-form__group + .ps-form__group {
  margin-top: 16px;
}
.ps-form__control {
  font-family: "Avenir";
  font-size: 18px;
  line-height: 24px;
  color: rgba(39, 36, 36, 0.8);
  font-weight: 400;
  font-style: normal;
  padding: 12px 16px;
  max-width: 100%;
  width: 100%;
  height: 48px;
  background: #F4F4F4;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  border-radius: 0;
  transition: all 0.3s ease-out;
}
.ps-form__control:focus {
  border: 1px solid #272424;
  background: #fff;
  transition: all 0.3s ease-out;
}
.ps-form__control.wpcf7-not-valid {
  border: 1px solid #b00020;
  background: #fff;
  transition: all 0.3s ease-out;
}
.ps-form__textarea {
  resize: none;
  height: 120px;
}
.ps-form__label {
  position: absolute;
  top: 12px;
  left: 16px;
  font-family: "Avenir";
  font-size: 18px;
  line-height: 24px;
  color: rgba(39, 36, 36, 0.8);
  font-weight: 400;
  font-style: normal;
}
.is-focused .ps-form__label, .is-filled .ps-form__label {
  display: none;
}
.ps-form .wpcf7-not-valid-tip {
  font-family: "Avenir";
  font-size: 12px;
  line-height: 12px;
  color: #b00020;
  font-weight: 400;
  font-style: normal;
  margin-top: 4px;
}
.ps-form .wpcf7-form-control-wrap {
  display: flex;
  flex-direction: column;
}
.ps-form__wrap {
  margin-top: 32px;
}
.ps-form__wrap .screen-reader-response {
  display: none;
}
.ps-form .wpcf7-response-output {
  color: #008AB6;
  margin-top: 16px;
}
.ps-form.invalid .wpcf7-response-output {
  color: #b00020;
}
.ps-form__title {
  margin-top: 64px;
}
.ps-form .wpcf7-form-control-wrap.recaptcha {
  margin-top: 32px;
}

.ps-btn {
  display: inline-block;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  position: relative;
  font-size: 16px;
  line-height: 24px;
  color: #008AB6;
  font-weight: 900;
  font-style: normal;
  border: none;
  background: transparent;
  padding: 0 36px 0 0;
  cursor: pointer;
}
.ps-btn::after {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(0, -50%);
  width: 28px;
  height: 8px;
  background: url("../../../media/icons/arrow-right.svg");
  transition: transform 0.2s ease-out;
}
.ps-btn:hover::after {
  transform: translate(8px, -50%);
  transition: transform 0.2s ease-out;
}
.ps-btn_more::after {
  width: 24px;
  height: 24px;
  transform: translate(0, -50%) scale(1);
  background: url("../../../media/icons/plus-icon.svg");
}
.ps-btn_more:hover::after {
  transform: translate(0, -50%) scale(1.2);
}
.ps-btn_back {
  padding: 0 0 0 36px;
}
.ps-btn_back::after {
  right: unset;
  left: 0;
  transform: translate(0, -50%) rotate(180deg);
}
.ps-btn_back:hover::after {
  transform: translate(-8px, -50%) rotate(180deg);
}
.ps-btn + h1 {
  margin-top: 32px;
}
.ps-btn__wrap {
  margin-top: 32px;
}
.ps-btn__wrap_center {
  margin-top: 32px;
}
@media (min-width: 1024px) {
  .ps-btn__wrap_center {
    margin-top: 64px;
  }
}
.ps-nav {
  width: 100%;
  padding-top: 64px;
  opacity: 0;
  visibility: hidden;
  transition: all 0.15s ease-out;
}
@media (min-width: 1200px) {
  .ps-nav {
    flex-direction: row;
    padding-top: 0;
    opacity: 1;
    visibility: visible;
    width: auto;
  }
}
.is-open .ps-nav {
  opacity: 1;
  visibility: visible;
  transition: all 0.15s ease-out;
}
@media (min-width: 1200px) {
  .ps-nav {
    display: flex;
  }
}
.ps-nav__menu {
  display: flex;
  flex-direction: column;
}
@media (min-width: 1200px) {
  .ps-nav__menu {
    flex-direction: row;
  }
}
.ps-nav__menu li + li {
  margin-top: 24px;
}
@media (min-width: 1200px) {
  .ps-nav__menu li + li {
    margin-top: 0;
    margin-left: 48px;
  }
}
.ps-nav__menu a {
  font-size: 16px;
  line-height: 24px;
  color: #272424;
  font-weight: 500;
  font-style: normal;
  display: block;
}
.ps-nav__menu a:hover {
  color: #008AB6;
}
.ps-nav__menu .current-menu-item a,
.ps-nav__menu .current_page_item a {
  color: #008AB6;
}

.ps-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 16px;
  display: flex;
  justify-content: center;
  background: transparent;
  z-index: 9;
  max-height: 0;
  transition: background 0.15s ease-out;
}
.ps-header.is-open {
  min-height: 100vh;
  max-height: 100vh;
  overflow: auto;
  background: #fff;
  transition: background 0.15s ease-out;
}
@media (min-width: 1200px) {
  .ps-header {
    background: #fff;
    max-height: unset;
  }
}

.ps-burger {
  position: absolute;
  top: 16px;
  right: 16px;
  height: 48px;
  width: 48px;
  background: #fff;
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.14);
  border-radius: 100%;
}
@media (min-width: 1200px) {
  .ps-burger {
    display: none;
  }
}
.ps-burger__line {
  position: absolute;
  right: 15px;
  width: 12px;
  height: 2px;
  background: #272424;
  transition: all 0.15s ease-out;
}
.is-open .ps-burger__line {
  transform-origin: center;
  transition: all 0.15s ease-out;
}
.ps-burger__line:nth-child(1) {
  top: 18px;
}
.is-open .ps-burger__line:nth-child(1) {
  top: 22px;
  width: 18px;
  transform: rotate(-45deg);
}
.ps-burger__line:nth-child(2) {
  top: 23px;
  width: 18px;
}
.is-open .ps-burger__line:nth-child(2) {
  width: 0;
}
.ps-burger__line:nth-child(3) {
  top: 28px;
}
.is-open .ps-burger__line:nth-child(3) {
  top: 22px;
  width: 18px;
  transform: rotate(45deg);
}

.ps-footer {
  margin-top: 128px;
  overflow: hidden;
}
.ps-footer__inner {
  position: relative;
  display: flex;
  justify-content: center;
  padding: 40px 0;
}
@media (min-width: 1200px) {
  .ps-footer__inner {
    padding: 80px 140px 80px 0;
    justify-content: flex-end;
  }
}
.ps-footer__inner::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: -10%;
  width: 120%;
  padding-top: 50%;
  background: #F4F4F4;
  border-radius: 100%;
  z-index: -1;
}
@media (min-width: 1200px) {
  .ps-footer__inner::before {
    right: -20%;
    width: 100%;
  }
}
.ps-footer__text {
  font-size: 14px;
  line-height: 24px;
  color: rgba(39, 36, 36, 0.6);
  font-weight: 400;
  font-style: normal;
}

.ps-item {
  display: inline-flex;
  width: 100%;
}
.ps-item__row .ps-item {
  flex-direction: column;
  margin-bottom: 32px;
}
@media (min-width: 1200px) {
  .ps-item__row .ps-item {
    margin-bottom: 0;
  }
}
.ps-item_rowdir {
  flex-direction: column;
}
@media (min-width: 1024px) {
  .ps-item_rowdir {
    flex-direction: row;
  }
}
.ps-item_rowdir + .ps-item_rowdir {
  margin-top: 64px;
}
.ps-item__row {
  margin-bottom: -32px;
}
@media (min-width: 1200px) {
  .ps-item__row {
    margin-bottom: 0;
  }
}
.ps-item_rowdir .ps-item__img {
  flex: 1 1 50%;
  max-width: 50%;
}
@media (min-width: 1024px) {
  .ps-item_rowdir .ps-item__img {
    flex: 1 1 25%;
    max-width: 25%;
  }
}
.ps-item__row .ps-item__img {
  position: relative;
  height: 0;
  width: 60%;
  margin-bottom: 16px;
  padding-top: 90%;
  margin-bottom: 16px;
}
.ps-item__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain;
}
.ps-item__row .ps-item__img img {
  position: absolute;
  top: 0;
  left: 0;
  -o-object-fit: contain;
  object-fit: contain;
}

.ps-hero {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-repeat: no-repeat;
  background-size: auto 56%;
  background-position: center 10%;
  overflow: hidden;
}
@media (min-width: 768px) {
  .ps-hero {
    background-size: auto 72%;
    background-position: center 10%;
  }
}
@media (min-width: 1024px) {
  .ps-hero {
    background-size: auto 68%;
    background-position: center 22%;
  }
}
@media (min-width: 1200px) {
  .ps-hero {
    justify-content: flex-end;
    background-position: center bottom;
    background-size: auto 90%;
    min-height: 100vh;
  }
}
.ps-hero::before {
  content: "";
  display: block;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -10%;
  background: #F4F4F4;
  border-radius: 100% 100% 0 0;
  z-index: -1;
}
@media (min-width: 1440px) {
  .ps-hero::before {
    height: calc((1328px + 5%) / 2);
    width: calc(1328px + 5%);
    border-top-left-radius: calc((1328px + 5%) * 2);
    border-top-right-radius: calc((1328px + 5%) * 2);
  }
}
@media (max-width: 1199px) {
  .ps-hero__content {
    margin-top: 40vh;
  }
}
@media (max-width: 1199px) {
  .ps-hero__copy {
    margin-top: 56px;
  }
}
.ps-hero__btn {
  display: none;
}
@media (min-width: 1200px) {
  .ps-hero__btn {
    display: inline-flex;
  }
}

.ps-scroll {
  font-size: 16px;
  line-height: 24px;
  color: rgba(39, 36, 36, 0.6);
  font-weight: 500;
  font-style: normal;
  padding-right: 32px;
  margin-bottom: 88px;
}
.ps-scroll::after {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-40%);
  width: 8px;
  height: 16px;
  background: url("../../../media/icons/arrow-down.svg");
}
.ps-scroll:hover::after {
  transform: translateY(-20%);
}
.ps-scroll__wrap {
  display: none;
}
@media (min-width: 1200px) {
  .ps-scroll__wrap {
    display: block;
    margin-top: 80px;
  }
}

.swiper {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  overflow: hidden;
  list-style: none;
  padding: 0;
  /* Fix of Webkit flickering */
  z-index: 1;
}

.swiper-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: flex;
  transition-property: transform;
  box-sizing: content-box;
}

.swiper-android .swiper-slide,
.swiper-wrapper {
  transform: translate3d(0px, 0, 0);
}

.swiper-pointer-events {
  touch-action: pan-y;
}

.swiper-slide {
  flex-shrink: 0;
  width: 100%;
  height: 100%;
  position: relative;
  transition-property: transform;
}

.swiper-button-prev,
.swiper-button-next {
  position: relative;
  display: inline-flex;
  width: 40px;
  height: 40px;
  margin-top: 40px;
  z-index: 10;
  cursor: pointer;
}
@media (min-width: 1200px) {
  .swiper-button-prev,
.swiper-button-next {
    margin-top: 72px;
  }
}
.swiper-button-prev::after,
.swiper-button-next::after {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 16px;
  height: 14px;
}
.swiper-button-prev::before,
.swiper-button-next::before {
  content: "";
  display: block;
  position: absolute;
  width: 40px;
  height: 40px;
  background: rgba(0, 138, 182, 0.05);
  border-radius: 6px;
  transition: transform 0.2s ease-out;
}
.swiper-button-prev:hover::before,
.swiper-button-next:hover::before {
  transform: scale(0.8);
  transition: transform 0.2s ease-out;
}
.swiper-button-prev.swiper-button-disabled,
.swiper-button-next.swiper-button-disabled {
  cursor: auto;
  pointer-events: none;
}
.swiper-button-prev.swiper-button-disabled::after,
.swiper-button-next.swiper-button-disabled::after {
  opacity: 0.35;
}

.swiper-button-prev {
  margin-right: 16px;
}
.swiper-button-prev::after {
  background-image: url("../../../media/icons/swiper-arrow.svg");
}

.swiper-button-next {
  margin-left: 16px;
}
.swiper-button-next::after {
  transform: translate(-50%, -50%) rotate(-180deg);
  background-image: url("../../../media/icons/swiper-arrow.svg");
}

/* Scrollbar */
.swiper-scrollbar {
  position: relative;
  top: -18px;
  display: inline-flex;
  height: 4px;
  width: 80px;
  border-radius: 60px;
  -ms-touch-action: none;
  background: rgba(0, 138, 182, 0.05);
}

.swiper-scrollbar-drag {
  height: 100%;
  width: 100%;
  position: relative;
  background: #008AB6;
  border-radius: 10px;
  left: 0;
  top: 0;
}

.swiper-free-mode > .swiper-wrapper {
  transition-timing-function: ease-out;
  margin: 0 auto;
}

.swiper-grid > .swiper-wrapper {
  flex-wrap: wrap;
}

.ps-slider__item {
  flex: 0 0 100%;
  max-width: 100%;
  width: 100%;
}
@media (min-width: 1024px) {
  .ps-slider__item {
    flex: 0 0 33.3333333333%;
    max-width: 33.3333333333%;
    width: 100%;
  }
}

.ps-social__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 64px;
  background-position: left top;
  background-size: 40px;
  background-repeat: no-repeat;
  height: 40px;
  font-size: 16px;
  line-height: 16px;
  color: #272424;
  font-weight: 400;
  font-style: normal;
}
@media (min-width: 768px) {
  .ps-social__list_row .ps-social__item {
    padding-left: 0;
    padding-top: 48px;
    height: auto;
  }
}
.ps-social__item + .ps-social__item {
  margin-top: 24px;
}
@media (min-width: 768px) {
  .ps-social__list_row .ps-social__item + .ps-social__item {
    margin-top: 0;
    margin-left: 40px;
  }
}
@media (min-width: 1024px) {
  .ps-social__list_row .ps-social__item + .ps-social__item {
    margin-left: 56px;
  }
}
@media (min-width: 1200px) {
  .ps-social__list_row .ps-social__item + .ps-social__item {
    margin-left: 92px;
  }
}
.ps-social__link {
  text-decoration: none;
  color: #008AB6;
}
.ps-social__link:hover {
  text-decoration: underline;
}
@media (min-width: 768px) {
  .ps-social__list_row .ps-social__link {
    margin-top: 8px;
  }
}
.ps-social__list_row {
  display: flex;
  flex-direction: column;
  margin-top: 16px;
}
@media (min-width: 768px) {
  .ps-social__list_row {
    flex-direction: row;
    margin-top: 32px;
  }
}

.ps-contacts__title + * {
  margin-top: 24px;
}
@media (min-width: 1024px) {
  .ps-contacts__title + * {
    margin-top: 32px;
  }
}

.ps-article {
  margin-bottom: 32px;
}
@media (min-width: 1200px) {
  .ps-article {
    margin-bottom: 0;
  }
  .ps-article:nth-child(n+4) {
    margin-top: 40px;
  }
}
.ps-article__list {
  margin-bottom: -32px;
}
@media (min-width: 1200px) {
  .ps-article__list {
    margin-bottom: 0;
  }
}
.ps-article__thumb {
  display: inline-flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  background: rgba(244, 244, 244, 0.5);
  transition: all 0.3s ease-out;
}
@media (min-width: 1200px) {
  .ps-article__thumb:hover {
    background: #fff;
    transition: all 0.3s ease-out;
  }
  .ps-article__thumb:hover .ps-article__img img {
    transform: scale(1.2);
    transition: transform 0.3s ease-out;
  }
  .ps-article__thumb:hover .ps-article__title {
    color: #008AB6;
    transition: color 0.3s ease-out;
  }
}
.ps-article__img {
  width: 100%;
  height: 248px;
  overflow: hidden;
}
.ps-article__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  transition: transform 0.3s ease-out;
}
.ps-article__inner {
  padding: 24px 16px;
}
@media (min-width: 1200px) {
  .ps-article__inner {
    padding: 24px 24px 32px;
  }
}
.ps-article__title {
  transition: color 0.3s ease-out;
}
.ps-article__title + * {
  margin-top: 16px;
}
.ps-article__precopy {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  line-height: 24px;
  max-height: 72px;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.ps-post * + .wp-block-image {
  margin-top: 32px;
}
@media (min-width: 1200px) {
  .ps-post * + .wp-block-image {
    margin-top: 48px;
  }
}
.ps-post .wp-block-image {
  max-width: 100%;
  width: 100%;
}
.ps-post .wp-block-image + * {
  margin-top: 32px;
}
@media (min-width: 1200px) {
  .ps-post .wp-block-image + * {
    margin-top: 64px;
  }
}
.ps-post .wp-block-image img {
  width: 100%;
  height: 240px;
  -o-object-fit: contain;
  object-fit: contain;
}
@media (min-width: 1200px) {
  .ps-post .wp-block-image img {
    height: 440px;
  }
}
.ps-post .wp-block-image figcaption {
  font-size: 16px;
  line-height: 24px;
  color: rgba(39, 36, 36, 0.6);
  font-weight: 500;
  font-style: normal;
}
@media (min-width: 1200px) {
  .ps-post .wp-block-image figcaption {
    font-size: 20px;
    line-height: 32px;
  }
}
.ps-post p + p {
  margin-top: 24px;
}
@media (min-width: 1200px) {
  .ps-post p + p {
    margin-top: 32px;
  }
}
.ps-post h2 {
  margin: 48px 0 24px;
}
@media (min-width: 1200px) {
  .ps-post h2 {
    margin: 64px 0 40px;
  }
}
.ps-post h3 {
  margin: 40px 0 24px;
}
@media (min-width: 1200px) {
  .ps-post h3 {
    margin: 64px 0 24px;
  }
}
.ps-post h4 {
  margin: 32px 0 16px;
}
@media (min-width: 1200px) {
  .ps-post h4 {
    margin: 40px 0 24px;
  }
}
.ps-post blockquote {
  position: relative;
  padding: 136px 16px 56px;
  background: #F4F4F4;
  margin-top: 48px;
}
@media (min-width: 1200px) {
  .ps-post blockquote {
    padding: 48px 48px 56px;
    margin-top: 64px;
  }
}
.ps-post blockquote + * {
  margin-top: 48px;
}
@media (min-width: 1200px) {
  .ps-post blockquote + * {
    margin-top: 80px;
  }
}
.ps-post blockquote::before {
  position: absolute;
  top: 24px;
  left: 16px;
  content: " ";
  width: 96px;
  height: 96px;
  background-image: url("../../../media/icons/quote.svg");
}
@media (min-width: 1200px) {
  .ps-post blockquote::before {
    top: 0;
    left: -112px;
  }
}
.ps-post blockquote p {
  font-size: 20px;
  line-height: 32px;
  color: #272424;
  font-weight: 400;
  font-style: normal;
}
@media (min-width: 1200px) {
  .ps-post blockquote p {
    font-size: 40px;
    line-height: 54px;
  }
}
.ps-post blockquote cite {
  font-size: 16px;
  line-height: 24px;
  color: rgba(39, 36, 36, 0.6);
  font-weight: 500;
  font-style: normal;
  display: block;
  margin-top: 16px;
}
@media (min-width: 1200px) {
  .ps-post blockquote cite {
    font-size: 20px;
    line-height: 32px;
  }
}
.ps-post ul {
  margin: 24px 0;
}
@media (min-width: 1200px) {
  .ps-post ul {
    margin: 32px 0;
  }
}
.ps-post ul li {
  position: relative;
  list-style: none;
  padding-left: 24px;
}
.ps-post ul li + li {
  margin-top: 8px;
}
.ps-post ul li::before {
  position: absolute;
  content: " ";
  top: 7px;
  left: 0;
  width: 8px;
  height: 8px;
  background: #008AB6;
  border-radius: 100%;
}